<!-- main handlebars -->
<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="UTF-8">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">  
	<!-- custom css -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Mongo scraper</title>
</head>
<body>
	{{{ body }}}

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
	<script src="app.js"></script>
</body>
</html>