  <!-- articles -->
  <a class="link" href="{{ this.link }}">
    <h2 id= "title"> {{this.title}} Hello </h2>

    <div id="picture">
      <img src="{{ this.imgURL }}">
    </div>
  </a>

  <!-- notes -->
  <div id="notes"></div>
  