<nav>
  <ul>
    <li><a href= "home">Home</a></li>
    <li><a href= "saved">Saved Articles</a></li>
    <li><a href= "articles">Scrape new articles</a></li>
  </ul>
</nav>
<div class="main center">
  <h1>Mongo Scraper<br>-VOGUE edition-</h1>
  <h4><i>The latest fashion news, beauty coverage,<br>celebrity style, fashion week updates</i></h4>
  <div id="articles"></div>
  <div id="notes"></div>
</div>
<footer class="center">
  <h5 id="hw">VOGUE Mongo scraper </h5>
</footer>