 h1,h4,li,h5{
      font-family: 'Playfair Display SC', serif;
    }
    nav{
      background-color: #d50000;
    }
    .main {
      margin: 4px;
      padding: 60px;
      background: #fff;
      flex: 3 1 60%;
      order: 2;
    }
    #articles {
      display: inline-block;
      overflow: auto;
      width: 90%;
      height: 700px;
    }
    #notes {
      float: right;
      width: 30%;
    }
    #hw{
      color: #fff;
    }
    footer {
      background-color: #d50000;
      display: block;
      padding: 5px;
      min-height: 100px;
      width:100%;
    }